.projects {
  width: 80%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectsItem {
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px;
}

.projectsItem p {
  margin-top: 10px;
}
